chat_room/test.py
chat_room/client_2.py
chat_room/chat_room.rar
UDP
test_TCP
PyCharm 2025.1/debug-eggs
PyCharm 2025.1/help
PyCharm 2025.1/jbr
PyCharm 2025.1/lib
PyCharm 2025.1/plugins
PyCharm 2025.1/bin
PyCharm 2025.1/modules
PyCharm 2025.1/plugins
PyCharm 2025.1/license
PyCharm 2025.1/skeletons
PyCharm 2025.1/product-info.json
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/NP.iml
.idea/.gitignore
PyCharm 2025.1/build.txt
.idea/modules.xml
PyCharm 2025.1